(
.null,
CR,
.notdef,
space,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Adotbelow,
AE,
AEacute,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
Dcaron,
Dcroat,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Emacron,
Eogonek,
Eth,
Etilde,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Hbar,
Hcircumflex,
Iacute,
Ibreve,
Icircumflex,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
IJ,
Imacron,
Iogonek,
Itilde,
Jacute,
Jcircumflex,
Kcommaaccent,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
Nacute,
Ncaron,
Ncommaaccent,
Nhookleft,
Ntilde,
Eng,
Oacute,
Obreve,
Ocircumflex,
Odieresis,
Odotbelow,
OE,
Ograve,
Ohungarumlaut,
Omacron,
Oogonek,
Oslash,
Oslashacute,
Otilde,
Racute,
Rcaron,
Rcommaaccent,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Thorn,
Uacute,
Ubreve,
Ucircumflex,
Udieresis,
Udotbelow,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ymacron,
Ytilde,
Zacute,
Zcaron,
Zdotaccent,
Germandbls,
Schwa,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
aacute,
abreve,
acircumflex,
adieresis,
adotbelow,
ae,
aeacute,
agrave,
amacron,
aogonek,
aring,
atilde,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
dcaron,
dcroat,
eacute,
ebreve,
ecaron,
ecircumflex,
edieresis,
edotaccent,
edotbelow,
egrave,
emacron,
eogonek,
etilde,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
hbar,
hcircumflex,
iacute,
ibreve,
icircumflex,
idieresis,
idotaccent,
idotbelow,
idotless,
igrave,
ij,
imacron,
iogonek,
itilde,
jacute,
jcircumflex,
jdotless,
kcommaaccent,
kgreenlandic,
lacute,
lcaron,
lcommaaccent,
ldot,
lslash,
nacute,
napostrophe,
ncaron,
ncommaaccent,
nhookleft,
ntilde,
eng,
oacute,
obreve,
ocircumflex,
odieresis,
odotbelow,
oe,
ograve,
ohungarumlaut,
omacron,
oogonek,
oslash,
oslashacute,
otilde,
racute,
rcaron,
rcommaaccent,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
tbar,
tcaron,
tcedilla,
tcommaaccent,
thorn,
uacute,
ubreve,
ucircumflex,
udieresis,
udotbelow,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
wacute,
wcircumflex,
wdieresis,
wgrave,
yacute,
ycircumflex,
ydieresis,
ygrave,
ymacron,
ytilde,
zacute,
zcaron,
zdotaccent,
germandbls,
eth,
schwa,
ordfeminine,
ordmasculine,
grave,
acute,
circumflex,
tilde,
caron,
dieresis,
macron,
breve,
ring,
hungarumlaut,
dotaccent,
cedilla,
ogonek,
comma,
semicolon,
colon,
period,
ellipsis,
hyphen,
exclam,
exclamdown,
question,
questiondown,
quoteleft,
quoteright,
quotedblleft,
quotedblright,
quotesinglbase,
quotedblbase,
guilsinglleft,
guilsinglright,
periodcentered,
slash,
bar,
endash,
emdash,
bullet,
parenleft,
parenright,
bracketleft,
bracketright,
braceleft,
braceright,
guillemetleft,
guillemetright,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
asterisk,
asciitilde,
backslash,
underscore,
quotesingle,
quotedbl,
ampersand,
at,
copyright,
registered,
trademark,
paragraph,
section,
asciicircum,
dagger,
daggerdbl,
dollar,
cent,
sterling,
yen,
euro,
currency,
baht,
bitcoin,
hryvnia,
liraTurkish,
peso,
ruble,
rupeeIndian,
sheqel,
tenge,
won,
colonsign,
dong,
kip,
fi,
fl,
fraction,
onequarter,
onehalf,
threequarters,
onethird,
twothirds,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
percent,
perthousand,
numbersign,
plus,
minus,
plusminus,
multiply,
divide,
equal,
less,
greater,
degree,
approxequal,
greaterequal,
lessequal,
notequal,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tf.zero,
dollar.tf,
cent.tf,
sterling.tf,
yen.tf,
euro.tf,
percent.tf,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
emspace,
enspace,
fourperemspace,
hairspace,
nonbreakingspace,
thinspace,
threeperemspace,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Ahookabove,
AEmacron,
Bdotbelow,
Bhook,
Ddotbelow,
Dhook,
Dmacronbelow,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Ehookabove,
Eopen,
Ereversed,
Gmacron,
Hbrevebelow,
Hcedilla,
Hdieresis,
Hdotbelow,
Icaron,
Ihookabove,
Istroke,
Kdotbelow,
Khook,
Kmacronbelow,
Ldotbelow,
Ldotbelowmacron,
Lmacronbelow,
Mdotaccent,
Mdotbelow,
Ndotaccent,
Ndotbelow,
Nmacronbelow,
Ocaron,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Oopen,
Pdotaccent,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rmacronbelow,
Sdotbelow,
Tdotbelow,
Tmacronbelow,
Ucaron,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Vturned,
Wdotbelow,
Xdieresis,
Ydotaccent,
Ydotbelow,
Yhook,
Yhookabove,
Zdotbelow,
Zmacronbelow,
I.cv01,
IJ.cv01,
Iacute.cv01,
Ibreve.cv01,
Icaron.cv01,
Icircumflex.cv01,
Idieresis.cv01,
Idotaccent.cv01,
Idotbelow.cv01,
Igrave.cv01,
Ihookabove.cv01,
Imacron.cv01,
Iogonek.cv01,
Istroke.cv01,
Itilde.cv01,
R.cv04,
Racute.cv04,
Rcaron.cv04,
Rcommaaccent.cv04,
Rdotaccent.cv04,
Rdotbelow.cv04,
Rdotbelowmacron.cv04,
Rmacronbelow.cv04,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
ahookabove,
aemacron,
bdotbelow,
bhook,
ddotbelow,
dhook,
dmacronbelow,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
ehookabove,
eopen,
eturned,
gmacron,
hbrevebelow,
hcedilla,
hdieresis,
hdotbelow,
hmacronbelow,
icaron,
ihookabove,
istroke,
kdotbelow,
khook,
kmacronbelow,
ldotbelow,
ldotbelowmacron,
lmacronbelow,
mdotaccent,
mdotbelow,
ndotaccent,
ndotbelow,
nmacronbelow,
ocaron,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
oopen,
pdotaccent,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rmacronbelow,
sdotbelow,
tdotbelow,
tmacronbelow,
ucaron,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
vturned,
wdotbelow,
xdieresis,
ydotaccent,
ydotbelow,
yhook,
yhookabove,
zdotbelow,
zmacronbelow,
l.cv02,
lacute.cv02,
lcaron.cv02,
lcommaaccent.cv02,
ldot.cv02,
ldotbelow.cv02,
ldotbelowmacron.cv02,
lmacronbelow.cv02,
lslash.cv02,
a.sups,
b.sups,
c.sups,
d.sups,
e.sups,
f.sups,
g.sups,
h.sups,
i.sups,
j.sups,
k.sups,
l.sups,
m.sups,
n.sups,
o.sups,
p.sups,
q.sups,
r.sups,
s.sups,
t.sups,
u.sups,
v.sups,
w.sups,
x.sups,
y.sups,
z.sups,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"Gestroke-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Tse-cy",
"Che-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Yat-cy",
"Fita-cy",
"Izhitsa-cy",
"Zhedescender-cy",
"Zedescender-cy",
"Kadescender-cy",
"Kabashkir-cy",
"Endescender-cy",
"Esdescender-cy",
"Ustraight-cy",
"Ustraightstroke-cy",
"Hadescender-cy",
"Chedescender-cy",
"Shha-cy",
"Palochka-cy",
"Zhebreve-cy",
"Abreve-cy",
"Aie-cy",
"Iebreve-cy",
"Schwa-cy",
"Imacron-cy",
"Odieresis-cy",
"Obarred-cy",
"Umacron-cy",
"Uhungarumlaut-cy",
"I-cy.cv01",
"Yi-cy.cv01",
"Ya-cy.cv04",
"De-cy.loclBGR",
"El-cy.loclBGR",
"Ef-cy.loclBGR",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"gestroke-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"tse-cy",
"che-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"yat-cy",
"fita-cy",
"izhitsa-cy",
"zhedescender-cy",
"zedescender-cy",
"kadescender-cy",
"kabashkir-cy",
"endescender-cy",
"esdescender-cy",
"ustraight-cy",
"ustraightstroke-cy",
"hadescender-cy",
"chedescender-cy",
"shha-cy",
"palochka-cy",
"zhebreve-cy",
"abreve-cy",
"aie-cy",
"iebreve-cy",
"schwa-cy",
"imacron-cy",
"odieresis-cy",
"obarred-cy",
"umacron-cy",
"uhungarumlaut-cy",
"ya-cy.cv04",
"ve-cy.loclBGR",
"ge-cy.loclBGR",
"de-cy.loclBGR",
"zhe-cy.loclBGR",
"ze-cy.loclBGR",
"ii-cy.loclBGR",
"iishort-cy.loclBGR",
"iigrave-cy.loclBGR",
"ka-cy.loclBGR",
"el-cy.loclBGR",
"pe-cy.loclBGR",
"te-cy.loclBGR",
"tse-cy.loclBGR",
"sha-cy.loclBGR",
"shcha-cy.loclBGR",
"softsign-cy.loclBGR",
"hardsign-cy.loclBGR",
"yu-cy.loclBGR",
"be-cy.loclSRBMKD",
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Upsilondieresis,
Iota.cv01,
Iotatonos.cv01,
Iotadieresis.cv01,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotatonos,
iotadieresis,
iotadieresistonos,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
alphatonos,
epsilontonos,
etatonos,
zero.blackCircled,
one.blackCircled,
two.blackCircled,
three.blackCircled,
four.blackCircled,
five.blackCircled,
six.blackCircled,
seven.blackCircled,
eight.blackCircled,
nine.blackCircled,
zero.circled,
one.circled,
two.circled,
three.circled,
four.circled,
five.circled,
six.circled,
seven.circled,
eight.circled,
nine.circled,
zero.cv03,
three.cv05,
zero.blackCircled.cv03,
zero.circled.cv03,
three.blackCircled.cv05,
three.circled.cv05,
zero.tf.cv03,
three.tf.cv05,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
zero.dnom.cv03,
zero.numr.cv03,
three.dnom.cv05,
three.numr.cv05,
onethird.cv05,
twothirds.cv05,
threequarters.cv05,
threeeighths.cv05,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
zeroinferior.cv03,
zerosuperior.cv03,
threeinferior.cv05,
threesuperior.cv05,
figurespace,
punctuationspace,
zerowidthspace,
zeroWidthNoBreakSpace,
anoteleia,
questiongreek,
anoteleia.case,
questiongreek.case,
colon.calt,
colon.case,
semicolon.case,
exclamdown.case,
questiondown.case,
periodcentered.case,
bullet.case,
slash.case,
backslash.case,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen.case,
endash.case,
emdash.case,
parenleftinferior,
parenrightinferior,
parenleftsuperior,
parenrightsuperior,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
baht.tf,
hook.case,
accountof,
published,
careof,
minute,
second,
at.case,
bar.case,
cedi,
guarani,
manat,
naira,
tugrik,
bitcoin.tf,
cedi.tf,
colonsign.tf,
currency.tf,
dong.tf,
guarani.tf,
hryvnia.tf,
kip.tf,
liraTurkish.tf,
manat.tf,
naira.tf,
peso.tf,
ruble.tf,
rupeeIndian.tf,
sheqel.tf,
tenge.tf,
tugrik.tf,
won.tf,
minusinferior,
minussuperior,
plusinferior,
plussuperior,
plus.case,
minus.case,
multiply.case,
divide.case,
equal.case,
notequal.case,
greater.case,
less.case,
greaterequal.case,
lessequal.case,
plusminus.case,
approxequal.case,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
blackCircle,
whiteCircle,
dottedCircle,
"brevecomb-cy",
"brevecomb-cy.case",
tonos,
tonos.case,
dieresistonos,
hookabovecomb,
horncomb,
dotbelowcomb,
brevebelowcomb,
macronbelowcomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
ogonekcomb.alt,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
hookabovecomb.case,
commaturnedabovecomb.case,
horncomb.case,
dotaccentcomb.i,
dieresiscomb_gravecomb,
dieresiscomb_acutecomb,
dieresiscomb_caroncomb,
dieresiscomb_macroncomb,
strokeshortcomb,
slashshortcomb,
slashlongcomb,
horncomb.O,
dieresiscomb_gravecomb.case,
dieresiscomb_acutecomb.case,
dieresiscomb_caroncomb.case,
dieresiscomb_macroncomb.case,
horncomb.o,
"_cy-block-straight",
"_cy-stroke-comb",
"_cy-strokeshortcomb",
"_cy-z-comp-LC",
"_cy-z-comp-UC",
"_cy-block.UC",
"_cy-block-straight.UC",
"_cy-stroke-comb.case",
"_cy-block.lc",
caronaccentcomb,
caronaccentcomb.case,
Lslashcomb,
_circle,
lslashcomb,
_comb.Cmoney,
_comp.Cmoney.tf
)